
<!Doctype html>
<head>

</head>


<body>


<form method="post" action="/"> <!-- / is the page it will the post request is done -->
  		<input type="text" name="title" id="title" placeholder="Title" autocomplete="off"><br>
  		<input type="text" name="body" id="body" placeholder="your text" autocomplete="off">
  		<input type="submit" name="submit" value="submit"></input>
</form>


</body>

</html>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/scripts/script.js"></script> 

<script>


</script>

