
<!Doctype html>
<head>

</head>


<body>
<ul>    
    <li><% posted.forEach(function(values) {%>
        
         <h2><%- values.title + '</h2>'+'<p>'+ values.body %></p>
        <%});%>
       
    </li>
</ul>

</body>

</html>
